@font-face {
    font-family: MyriadPro-light;
    src:url('./fonts/Myriadpro-light.otf');
}

@font-face {
    font-family: MyriadPro-regular;
    src:url('./fonts/MyriadPro-Regular.otf');
}


@font-face {
    font-family: MyriadPro-bold;
    src:url('./fonts/MyriadPro-Bold.otf');
}


* {
    margin: 0;
    padding: 0;
}

body{
    font-family: MyriadPro-light;
}

a{
    text-decoration: none;
}

.header{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.header-background{
    background-image: url(./img/TARJETA-DIGITAL-LUIS-ANGEL-13.png);
    width: 100%;
    height: 150px;
    background-size: 100%;
}


.header-foto{
    position: absolute;
    width: 160px;
    border-radius: 50%;
    margin-top: 75px;
    border: 4px solid white;
}

.info{
    margin-top:95px;
    text-align: center;
}

.info h1 {
    font-weight: bold;
    color: #85B815;
    font-family: MyriadPro-bold;
}

.info h3 {
    font-weight: 300;
    font-family: MyriadPro-light;
}

.info p {
    font-family: MyriadPro-regular;
    font-weight: 600;
    font-size: 0.6em;
    padding-left: 30px;
    padding-right: 30px;
}

.spacing{
    background-color: #85B815;
    height:3px;
    width:50px;
    margin-left:auto;
    margin-right: auto;
    border-radius:50px;
    margin-top: 15px;
    margin-bottom:15px ;
}


.contact {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top:30px;
}

.contact-icons{
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-left:10px;
}

.contact-icons img {
    width: 50px;
    transition: all 300ms;
    position: relative;
}

.contact a:hover .contact-icons img{
    cursor: pointer;
    transform: scale(1.15);
}

.contact-icons p {
    font-weight: lighter;
    font-size: 0.9em;
}



.social {
    width: 100%;
    margin-top: 30px;
}

.social-container{
    background-color:#85B815;
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    border-radius:50px;
    text-align: center;
    padding:3px;

}

.social-container a img{
    background-color:#85B815;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 3px;
    transition: all 300ms;
    position: relative;
}

.social-container a:hover img{
    cursor: pointer;
    transform: scale(1.15);
}


.web{
    background-color:#000;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:2%;
    margin-top:30px;
}

.web h3{
    color:#fff;
    font-weight: 300;
}
.web img{
    width: 40px;
    margin-right: 10px;
}


.countries{
    width: 100%;
    margin-top:30px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.countries-icons {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.countries-icons img{
    width: 30px;
}



.maps {
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top:30px;
}

.maps iframe{
    width: 85%;
    border:0;
}

.footer {
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top:30px;
    padding:10;
}

.footer img{
    width: 60px;
}








@media (min-width: 950px){

    .header-background{
        background-image: url(./img/TARJETA-DIGITAL-LUIS-ANGEL-13.png);
        height: 180px;
        background-size: 100%;
        background-position-y:15%;
    }
    
    .header-foto{
        width: 180px;
        margin-top: 95px;
    }

    .info {
        margin-top:120px;
    }

    .info p {
        font-size: 1em;
    }

    .info{
        padding-left: 130px;
        padding-right: 130px;
    }

    .contact-icons{
        margin-right: 50px;
        margin-left:50px;
    }
    
    .contact-icons img {
        width: 60px;
    }

    .web h3{
        font-size: 1.8em;
    }
    .web img{
        width: 50px;
        margin-right: 20px;
    }
}

