* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.header{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-background{
    background-image: url(../img/TARJETA-DIGITAL-LUIS-ANGEL-13.png);
    width: 100%;
    height: 150px;
    background-size: 100%;
}


.header-foto{
    position: absolute;
    width: 160px;
    border-radius: 50%;
    margin-top: 75px;
    border: 4px solid white;
}

.info{
    margin-top:95px;
    text-align: center;
}

.info h1 {
    font-weight: bold;
    color: #85B815;
}

.info h3 {
    font-weight: lighter;
}

.info p {
    font-weight: 600;
    font-size: 0.5em;
}

.spacing{
    background-color: #85B815;
    height:3px;
    width:50px;
    margin-left:auto;
    margin-right: auto;
    border-radius:50px;
    margin-top: 15px;
    margin-bottom:15px ;
}


.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:30px;
}

.contact-icons{
    text-align: center;
    float: left;
    margin-right: 10px;
    margin-left:10px;
}

.contact-icons img {
    width: 50px;
}

.contact-icons p {
    font-weight: lighter;
    font-size: 0.6em;
}



.social {
    width: 100%;
    margin-top: 30px;
}

.social-container{
    background-color:#85B815;
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    border-radius:50px;
    text-align: center;
    padding:3px;

}

.social-container a img{
    background-color:#85B815;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 3px;
}


.web{
    background-color:#000;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2%;
    margin-top:30px;
}

.web h3{
    color:#fff;
    font-weight: 300;
}
.web img{
    width: 40px;
    margin-right: 10px;
}


.countries{
    width: 100%;
    margin-top:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.countries-icons {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.countries-icons img{
    width: 30px;
}



.maps {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}

.maps iframe{
    width: 85%;
    border:0;
}

.footer {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    padding:10;
}

.footer img{
    width: 60px;
}







